* {
	box-sizing: border-box; 
}

html body {
	height: 100%;
	font-size: 14px;
	font-family: arial, sans-serif;
	position: relative;
}
main {
	min-height: 100vh;
	display: block;
	position: relative;
	padding-bottom: 3rem;
	overflow: hidden;
}
.top {
	text-align: right;
	font-size: .9rem;
	font-color: black;
} 

a {
	color: #5c5c5c;
	text-decoration: none;
}


.center {
	text-align: center;
}

.footz {
     background-color: #E8E8E8;
     position: absolute; 
     width: 100%;
     height: 3rem;
     bottom: 0;
}

button {
	 border: none;
	 width: 120px;
	 height: 35px;
	 color: gray;
	 margin: 30px auto;
}

input {
	border: 1px solid #D0D0D0;
	border-radius: 30px;
	width: 40%;
	outline: 0;
	height: 45px;
	position: relative;
	font-size: 16px;
	margin-top: 30px;
}

#logo {
	margin-top: 140px;
}

input:hover {
	box-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.top #login {
	background-color: #3495F3;
	color: white;
	font-weight: bold; 
	width: 65px;
	height: 30px;
	border-radius: 1px;
	margin-top: 7px;
	margin-right: 7px;
}