* {
	box-sizing: border-box; 
}

html body {
	height: 100%;
	font-size: 14px;
	font-family: arial, sans-serif;
	position: relative;
}

main {
	min-height: 90vh;
	display: block;
	position: relative;
	padding-bottom: 3rem;
	overflow: hidden;
}

.top {
	text-align: right;
	font-size: .8rem;
} 

a {
		text-decoration: none;
		color: gray;
}

.center {
	text-align: center;
}

footer {
     background-color: #E8E8E8;
     border-top: solid 1px #8888883f;
     width: 100%;
     height: 40px;
     bottom: 0;
     position: fixed; 
}

button {
	 border: none;
	 width: 120px;
	 height: 35px;
	 margin: 30px 5px;
     color: #6F6F6F;
     border-radius: 2px;
}

input {
	border: 1px solid #E2E2E2;
	border-radius: 30px;
	width: 35%;
	outline: 0;
	height: 45px;
	position: relative;
	font-size: 16px;
	margin-top: 30px;
	min-width: 450px;
	background-image: url(favpng_desktop-wallpaper-web-search-engine-wordpress-com-clip-art.png);
    background-position: 7px;
    background-size: 14px;
    background-repeat: no-repeat;

}

#logo {
	margin-top: 100px;
}

input:hover {
	box-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.top #login {
	background-color: #338BE1;
	color: white;
	font-weight: bold; 
	width: 70px;
	height: 30px;
	border-radius: 3px;
	margin-top: 8px;
	margin-right: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 15px;
}

li {
	display: inline;
	padding-left: 10px;
}

.left-section .right-section {
	display: flex;
}

.right-section {
	right: 30px;
	position: absolute;
	bottom: .8rem;
}
