* {
	box-sizing: border-box; 
}

body {
	font-size: 14px;
	font-family: arial, sans-serif;
	position: relative;
}

.top {
	text-align: right;
	font-size: 0.8rem;
} 

a {
	color: #5c5c5c;
	text-decoration: none;
}

.center {
	text-align: center;
}

.footz {
     background-color: #E8E8E8;
     position: relative; 
     width: 100%;
     height: 3rem;
}

button {
	 border: none;
	 width: 120px;
	 height: 35px;
	 color: gray;
}
